# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/client/node_modules
/admin/node_modules
/client/.pnp
/client/.pnp.js

# testing
/coverage

# production
/client/build
/admin/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*

/server/static
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
