@import "~/assets/module";

.menu {
   @include flex-constructor(row nowrap, streatch);
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   box-shadow: 0px 2px 8px $white-600;
   z-index: 999;
   
   .menu-item {
      flex-grow: 1;
      flex-basis: 25%;
      background-color: $white;

      &.active {
         background-color: $white-200;
      }

      .menu-item__link {
         @include flex-constructor(column nowrap, center, center);
         @include text-style(12px, $white-600);
         padding: 15px 10px;
         text-decoration: none;
      }

      .menu-item__icon {
         width: 25px;
         height: 25px;
         margin-bottom: 5px;

         svg {
            fill: $white-600;
            width: inherit;
            height: inherit;
         }
      }
   }
}