@import "~/assets/module";

.product {
   @include flex-constructor(column nowrap, space-between);
   background-color: $white;
   box-sizing: border-box;
   border-radius: 5px;
   padding: 10px;
   border: 2px solid $blue-200;
   width: 165px;
   min-height: 150px;
   margin-bottom: 15px;

   @each $i, $color in $boxBorderColors {
      &:nth-child(#{$i}n) {
         border-color: $color;
      }
   }
   
   .product__info {
      @include flex-constructor(row nowrap, space-between, center);
      margin-top: 15px;
   }

   .product__price,
   .product__name {
      @include text-style(18px, $black, 600);
      overflow-wrap: break-word;
   }

   .product__price {
      max-width: calc(100% - 35px);

      svg {
         vertical-align: bottom;
         width: 18px;
         height: 25px;
      }
   }

   .product__shopping-icon {
      box-sizing: border-box;
      border: 1px solid $black;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      text-align: center;

      svg {
         margin-top: 2px;
         vertical-align: middle;
         width: 16px;
         height: 16px;
      }
   }
}