@mixin flex-constructor ($flow: row nowrap, $jusCont: flex-start, $alItems: stretch, $alContent:stretch) {
   display: flex;
   flex-flow: $flow;
   justify-content: $jusCont;
   align-items: $alItems;
   align-content: $alContent;
}

@mixin text-style ($size: inherit, $color: #000, $weight: normal, $align: left, $spacing: normal) {
   font-size: $size;
   color: $color;
   font-weight: $weight;
   text-align: $align;
   letter-spacing: $spacing;
}

$black: #000;
$white: #fff;
$white-050: #fafafa;
$white-100: #f5f5f5;
$white-200: #eeeeee;
$white-300: #e0e0e0;
$white-400: #bdbdbd;
$white-500: #9e9e9e;
$white-600: #757575;
$white-700: #616161;
$white-800: #424242;

$pink-025: rgb(246, 195, 195);